{% from "macros/fields.html" import render_text_field %}

{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block main_content %}
    {% if message %}
        <h1>Ops, percebemos que você não está vinculado a nenhuma empresa cadastrada, realize o cadastro de sua empresa para prosseguir com seu acesso.</h1>
    {% else %}
        <h1>Completar cadastro</h1>
    {% endif %}
    
    <p>Para completar seu cadastro, precisamos de mais algumas informações sobre sua empresa</p>
    <form name="add_enterprise" method="post" novalidate class="form">
        <div class="form__container">
            {{ form.hidden_tag() }}
            {{ render_text_field(form.enterprise_name, placeholder="Nome da empresa") }}
            {{ render_text_field(form.address, placeholder="Endereço") }}
            {{ render_text_field(form.email, placeholder="E-mail") }}
            {{ render_text_field(form.phone, placeholder="Telefone") }}

            <div>
                {{ form.submit(class_="button button--form") }}
            </div>
        </div>
    </form>
{% endblock %}