{% from "macros/fields.html" import render_text_field %}

{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
{% endblock %}

{% block main_content %}
    <h1>Suas vendas</h1>
    {% if vendas %}
        <table class="table">
            <colgroup>
                <col style="width: 20%">
                <col style="width: 20%">
                <col style="width: 20%">
                <col style="width: 20%">
                <col style="width: 20%">
            </colgroup>
            
            <thead>
                <th class="table__cell table__cell--header">Venda</th>
                <th class="table__cell table__cell--header">Produto/quantidade</th>
                <th class="table__cell table__cell--header">Realizada em</th>
                <th class="table__cell table__cell--header">Valor total</th>
                <th class="table__cell table__cell--header">Comissão total</th>
                <th class="table__cell table__cell--header"></th>
                <th class="table__cell table__cell--header"></th>
            </thead>
            <tbody>
                {% for venda in vendas %}
                    <tr>
                        <td class="table__cell">
                            <p class="table__productname">Venda n°{{ venda.number }}</p>
                        </td>
                        <td class="table__cell">
                            {% for produto in venda.products %}
                                <p>- {{ produto }}</p>
                            {% endfor %}
                        </td>
                        <td class="table__cell">{{ venda.date }}</td>
                        <td class="table__cell">{{ venda.total}}</td>
                        <td class="table__cell">{{ venda.commission }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="table__empty">Você ainda não possui nenhuma venda.</p>
    {% endif %}

{% endblock %}